#about-us {
  height: 280vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: white;
  overflow: hidden;
}

#about-us img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#about-us h1 {
  font-size: 5rem;
  margin-top: 10vh;
  margin-bottom: 5vh;
  text-align: center;
}

#about-us .letter {
  height: 100vh;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 8vh;
  margin-left: 8vw;
}

#about-us .letter img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(0);
  transform-origin: left center;
}

#about-us .left {
  color: black;
  padding: 0vh 0vw 10vh 21vw;
  text-align: justify;
  line-height: 1.4;
  transform: translateX(-100%);
  opacity: 0;
}

#about-us .right {
  padding: 0 21vw 8vh 5vw;
  transform: translateX(100%);
  opacity: 0;
}

@media (max-width: 700px) {
  #about-us .letter {
    flex-direction: column;
    height: 60%;
    margin-left: 0;
    align-items: center;
  }

  #about-us .left,
  #about-us .right {
    color: aliceblue;
    width: 90%;
    padding: 2vh 5vw;
    text-align: justify;
  }

  #about-us .left p {
    margin-bottom: 0rem;
  }

  #about-us iframe {
    margin-bottom: 40rem;
    width: 100%;
  }
}

@media (max-width: 440px) {
  #about-us h1 {
    font-size: 1.8rem;
    margin-top: 13vh;
  }

  #about-us .letter {
    flex-direction: column;
    align-items: center;
    height: 70%;
  }

  #about-us .letter img {
    width: 250%;
    height: 35%;
    rotate: 90deg !important;
    top: -40vh;
    left: 45vw;
  }

  #about-us .left {
    color: aliceblue;
    width: 68%;
    padding: 14.5vh 0vh 5vw 5vw;
    font-size: 0.9rem;
  }

  #about-us .left p {
    color: black;
    margin-bottom: rem;
  }

  #about-us iframe {
    margin-bottom: 70rem;
    width: 80%;
    height: 20%;
    margin-left: 3rem;
  }
}
