
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 10px; /* Optional: adds rounded corners to images */
  }
  
  /* Additional styling for effect and pagination */
  .mySwiper .swiper-pagination-bullets {
    bottom: 10px; /* Adjust bullet position */
  }
  
  .mySwiper .swiper-pagination-bullet {
    background: #4caf50; /* Change pagination bullet color */
  }
  
  .mySwiper .swiper-pagination-bullet-active {
    background: #f5ae22; /* Active bullet color */
  }
  
  /* Optional: Adding transition effects to images */
  .swiper-slide img {
    transition: transform 0.3s ease-in-out;
  }
  
  .swiper-slide:hover img {
    transform: scale(1.1); /* Image zoom effect on hover */
  }
  
  /* Custom class to style the container around the swiper */
  .team-carousel {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0 auto; /* Centers the Swiper container */
    padding: 20px;
    border-radius: 15px;
  }