
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.team-page {
  background-color: #000000;
  color: white;
  min-height: 100vh;
  font-weight: bold;
  font-family: poppins;
}

.team-page .text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem;
  background-color: black;
  color: white;
}

.team-page .text-section h1,
.team-page .text-section h3,
.team-page .text-section p {
  margin-left: 6rem;
  color: white;
}

.team-page .image-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-page .carousel-indicators .active {
  background-color: #f5ae22;
}

/* Member Section Styling */
.Te-member-main {
  background: black;
  font-family: "Bebas Neue", cursive;
  padding: 4rem 1.5rem;
  color: white;
  letter-spacing: 2px;
  font-weight: ultrabold;
  text-align: center;
}

.Te-member-Bg1 {
  background-image: url("/team/flamebg1.svg");
  background-size: cover;
  background-position: center;
  padding: 2rem;
 
}

.Te-member-Bg2 {
  background-image: url("/team/flamebg2.svg");
  background-size: cover;
  background-position: center;
  padding: 2rem;
  border-radius: 10px;
}

.team-title {
  font-size: 5rem;
  color: #ffffff;
  margin-bottom: 2rem;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.member-cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four members per row */
  gap: 2rem; /* Spacing between cards */
  justify-content: center;
  align-items: center;
}

.member-card {
  padding: 2rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.member-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(245, 174, 34, 0.5);
}

.member-image {
  width: 100%;
  max-width: 250px;
  margin-bottom: 1rem;
  transition: border-color 0.3s ease, transform 0.3s ease;
}

.member-card:hover .member-image {
  transform: scale(1.1);
  border-color: white;
}

.member-details h2 {
  font-size: 2rem;
  color: #ffffff;
  margin: 0;
}





/* Media Queries for Responsive Design */
@media (max-width: 992px) {
  .member-cards-grid {
    grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 576px) {
  .member-cards-grid {
    grid-template-columns: 1fr; 
  }
}
